.header-text {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  display: block;
  float: none;
  font-size: 18px;
  margin: 50px auto;
  padding: 42px !important;
  text-align: center;
  width: 700px;
}

.header-text h2 {
  font-size: 45px;
  color: white;
  margin-bottom: 30px;
}
.header-text h3 {
  font-size: 30px;
  margin-bottom: 30px;
}
.header-text p {
  margin-bottom: 30px;
}
.header-text h2 span {
  color: orange;
}

.header1 {
  margin-top: -144px;
}
