.asdf {
  margin-top: 10%;
  justify-content: center;
}

.ACards {
  position: relative;
  width: 252px;
  height: 290px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
  background:#fff;
  cursor: pointer;
  
}
.chbtn {
  margin-top: 5%;
  position: relative;
  text-align: center;
}



.ACards:hover {
  height: 400px;
  transform: translateY(-30px);
}


.icon-div{
  background: black;
  border-radius: 70%;
  color:white;
  font-size: 63px;
  height: 90px;
  width: 90px;
  line-height: 104px;
  margin: auto;
  position: relative;
  text-align: center;
  top: -50px;
  z-index: 99;
  

}
.clr1 {
  background:#3ec441;
  color: #fff;
  padding: 70px 0 10px;
  text-align: center;
  overflow: hidden;
  position: relative;
  top: -100px;
  z-index: 70;
}
 .clr1::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 44%;
  background: #08ac0d;
  left: 0;
  top: -20px;
  transform: skewY(171.5deg);
  z-index: 70;

}

.clr2 {
  background:#ff8500;
  color: #fff;
  padding: 70px 0 10px;
  text-align: center;
  overflow: hidden;
  position: relative;
  top: -100px;
  z-index: 70;
}
 .clr2::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 44%;
  background:#da7104;
  left: 0;
  top: -20px;
  transform: skewY(171.5deg);
  z-index: 70;

}

.clr3 {
  background:#0195ff;
  color: #fff;
  padding: 70px 0 10px;
  text-align: center;
  overflow: hidden;
  position: relative;
  top: -100px;
  z-index: 70;
}
 .clr3::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 44%;
  background: #0482d9;
  left: 0;
  top: -20px;
  transform: skewY(171.5deg);
  z-index: 70;

}

.clr4 {
  background:#ff6100;
  color: #fff;
  padding: 70px 0 10px;
  text-align: center;
  overflow: hidden;
  position: relative;
  top: -100px;
  z-index: 70;
}
 .clr4::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 44%;
  background: #cf5105;
  left: 0;
  top: -20px;
  transform: skewY(171.5deg);
  z-index: 70;

}
.wbox {
  /* background: #fff ; */
  /* margin-bottom: 100px; */
  /* padding: 20px 20px 60px; */
  position: relative;
  text-align: center;
  top: -100px;
  transform: translateY(-130px);
  opacity: 0;
  transition: 0.3s;

}

.ACards:hover .wbox{
  opacity: 10;
  transform: translateY(10%);
}

.clr1-a::after {
  background: #08ac0d;
  content: "";
  height: 137%;
  position: absolute;
  right: 0;
  top: 15px;
  transform: skewY(-5.5deg);
  width: 100%;
  z-index: -1;
  margin-left: 100%;
}
.clr1-a {
  background: #fff none repeat scroll 0 0;
  color: #fff;
  float: left;
  font-size: 31px;
  left: 0;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  width: 100%;
  z-index: 70;
  top: 83.3%;
}

.clr2-a::after {
  background: #da7104;
  content: "";
  height: 137%;
  position: absolute;
  right: 0;
  top: 15px;
  transform: skewY(-5.5deg);
  width: 100%;
  z-index: -1;
}
.clr2-a {
  background: #fff none repeat scroll 0 0;
  color: #fff;
  float: left;
  font-size: 31px;
  left: 0;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  width: 100%;
  z-index: 70;
  top: 83.3%;
}

.clr3-a::after {
  background: #0482d9;
  content: "";
  height: 137%;
  position: absolute;
  right: 0;
  top: 15px;
  transform: skewY(-5.5deg);
  width: 100%;
  z-index: -1;
}
.clr3-a {
  background: #fff none repeat scroll 0 0;
  color: #fff;
  float: left;
  font-size: 31px;
  left: 0;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  width: 100%;
  z-index: 70;
  top: 83.3%;
}

.clr4-a::after {
  background: #cf5105;
  content: "";
  height: 137%;
  position: absolute;
  right: 0;
  top: 15px;
  transform: skewY(-5.5deg);
  width: 100%;
  z-index: -1;
}
.clr4-a {
  background: #fff none repeat scroll 0 0;
  color: #fff;
  float: left;
  font-size: 31px;
  left: 0;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  width: 100%;
  z-index: 70;
  top: 83.3%;
}
.animate__tada{
  color:white;
  position: relative;
  height: 50px;
  width: 50%;
  margin-bottom: 30px;
  animation-duration: 700ms;
  animation-delay: 0.9s;
  /* animation-iteration-count:infinite; */
}


.animate__shakeY{
  animation-duration: 7s;
  animation-delay: 0.9s;
  /* animation-iteration-count: infinite; */
  margin-left: 42%;

  
}