.pseudobtn {
  margin-top: 5%;
  position: relative;
}
.b-box {
  background: white none repeat scroll 0 0;
  color: #000;
  padding: 20px;
  text-align: center;
  width: 200px;
  height: 80px;
}
.pborder {
  border: black 3px solid;
}

.ptitle {
  text-align: center;
}

.cBtn {
  width: 20%;
  
}
